* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: var(--font-body);
  color: #f5f5f5;
  overflow-x: hidden;
}

/* ^ topbar */

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--topbar-height);
  background: var(--surface);
  border-bottom: 1px solid rgba(153, 144, 124, 0.15);
  z-index: 1100;
  display: flex;
  align-items: center;
  backdrop-filter: blur(50px);
}

.topbar-inner {
  display: flex;
  align-items: center;
  padding: 0 32px;
  gap: 24px;
  width: 100%;
  height: 100%;
}

.topbar-derecha {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  margin-left: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

#logo {
  border: 1px solid white;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 100%;
}

.logo h1 {
  font-family: var(--font-headline);
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.search-engine {
  position: relative;
  background-color: var(--surface-container);
  width: 100%;
  max-width: 500px;
  flex-shrink: 0;
  margin-left: 25px;
  min-width: 260px;
}

.search-engine #search {
  background-color: var(--surface-container);
  border: 0;
  padding: 0 16px 0 52px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  height: 40px;
  color: #f5f5f5;
  font-size: 15px;
  outline: none;
}
.search-engine button{
  background: transparent;
  border: none;
  position: absolute;
  height: 40px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;
}
.search-icon {
  pointer-events: none;
  color: var(--outline);
  font-size: 20px;
}
.search-engine button:hover{
  .search-icon{
    color: var(--primary);
  }
}

/* ^ nav sidebar */

.sidebar {
  position: fixed;
  left: 0;
  width: var(--sidebar-width);
  background: var(--surface);
  top: var(--topbar-height);
  z-index: 1200;
  overflow-y: auto;
  border-right: 1px solid rgba(153, 144, 124, 0.1);
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  color: var(--tertiary);
  text-decoration: none;
  transition: all 0.2s ease;
  background-color: var(--surface);
}

.menu-item:hover,
.active {
  background: #0f0f0f;
  color: #f2ca50;
}

.active {
  border-left: 4px solid #d4af37;
}

.hamburguer {
  display: none;
  background: none;
  border: none;
  color: var(--primary);
  font-size: 28px;
  cursor: pointer;
  padding: 8px;
  z-index: 1210;
  transition: color 0.2s;
}
.hamburguer:hover {
  color: var(--on-primary);
}


.main-content {
  width: calc(100% - var(--sidebar-width));
}

.overlay{
  position: fixed;
  width: 100%;
  inset: 0;
  display: none;
  z-index: 1150;
  background-color: rgba(2, 2, 2, 0.7);
  pointer-events: none;
}
.overlay.show{
  display: block;
  pointer-events: auto;
  opacity: 1;
  visibility: visible;

}
.topbar.above{
  z-index: 1250;
}
.notification-tray{
  color: var(--primary);
  transition: all 0.2s ease;
  cursor: pointer;
}
.notification-tray:hover{
  color: var(--on-primary);
}
#profile-button-topbar, #profile-button-menu {
  display: flex;        
  justify-content: center; 
  align-items: center;     
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0 10px;
  margin: 0 10px;

  
}
.profile-button:hover{
  border-color: var(--primary);
}

.profile-button {
  background-color: #000000;
  border: 0.5px solid rgba(153, 144, 124, 0.15);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  object-fit: cover;
  position: absolute;
}
.btn-lg{
  width: 100px;
  height: 100px;
}
.btn-md{
 width: 60px;
 height: 60px;
}
.btn-sm{
 width: 40px;
 height: 40px;
}
.img-profile{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#profile-button-menu{
  display: flex;
  justify-content: center;

}
.menu-off-canva{
  width: var(--sidebar-width);
  height: 100vh; 
  z-index: 1200;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--background);
  border-left: 1px solid rgba(153, 144, 124, 0.1);
  padding: 30px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: all 0.3s ease;
}
.menu-off-canva .arrow-back {
  align-self: flex-start; 
  cursor: pointer;
  margin-bottom: 40px;
  color: var(--primary)
}
.menu-off-canva span{
  color: #ffffff;
}
.menu-buttons{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 50px;
}
  

.menu-off-canva.open{
  pointer-events: auto;
  transform: translateX(0);
  visibility: visible;
}
.config, .signout{
  width: 100%;
  padding: 16px 24px;
  color: var(--tertiary);
  background-color: transparent;
  border-radius: 8px ;
  border: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.config:hover, .signout:hover{
  background-color: rgba(255, 255, 255, 0.05)
}
.signout, .signout span{
  color: var(--primary);
}
.signout:hover{
  color: var(--on-primary);
}

@media (min-width: 1025px) {
  .sidebar {
    transform: translateX(0);
  }
  .main-content {
    margin-left: var(--sidebar-width);
  }
}


@media (max-width: 1024px) {
  :root {
    --topbar-height: 60px;
  }
  .topbar{
    z-index: 1100;
  }

  .topbar-inner {
    padding: 0 16px;
    gap: 12px;
  }

  .hamburguer {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.35s ease;
    z-index: 1200;
    height: calc(100vh - var(--topbar-height));
    background-color: var(--background);
    
  }

  .sidebar.open {
    transform: translateX(0);
  }
  .overlay{
    z-index: 1150;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .search-engine {
    width: auto;
    margin-left: 10px;
    flex-grow: 1;
    padding-left: 5px;
  }

  .search-engine #search {
    padding-left: 35px;
    font-size: 14px;
  }
  .search-engine button{
    left: 0;
  }

  .logo h1 {
    display: none;
  }

  #logo {
    width: 40px;
    height: 40px;
  }

  .profile-button {
    padding: 4px;
  }


  .headline-xl { 
    font-size: 2rem; 
    line-height: 1.2;
  }
  .headline-lg { font-size: 1.5rem; }
  .text-body { font-size: 1rem; }
}

@media (max-width: 600px) {
  .topbar-inner {
    padding: 0 12px;
    gap: 8px;
  }

  .search-engine {
    min-width: 0;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
  }

  .headline-xl {
    font-size: 1.8rem !important;
    line-height: 1.2;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}


@media (max-width: 480px) {
  .search-engine {
    width: 40px;
  }

  #search {
    width: 40px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }

  #search:focus {
    width: 150px;
    background-color: var(--surface-container-high);
    padding-left: 35px;
  }
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #000000; }
::-webkit-scrollbar-thumb { background: #1a1a1a; border-radius: 10px; }

.metallic-gold {
  background: linear-gradient(45deg, #f2ca50, #d4af37);
}

.glass-card {
  background: rgba(8, 8, 8, var(--glass-opacity));
  backdrop-filter: blur(20px);
}